CONFIG_ARM=y
CONFIG_BOARD_NUCLEO_446RE=y
CONFIG_SOC_STM32F446=y
CONFIG_SOC_STM32F466RE=y
CONFIG_SOC_STM32F4XX=y
CONFIG_UART_STM32F4XX=y
CONFIG_UART_STM32F4XX_BAUD_RATE=9600
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=16000000
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_CORTEX_M_SYSTICK=y

